.loader .review:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.loader .review-image {
    width: 80px;
    height: 80px;
    background-color: var(--border);
    border-radius: 10px;
}

.loader .review-seller-name {
    width: 30%;
    height: 20px;
    background-color: var(--gray-text);
}

.loader .review-content {
    width: 100%;
    background-color: var(--gray-text);
    margin-top: 20px;
    height: 75px;
}

.loader .review-date {
    width: 30%;
    height: 25px;
    background-color: var(--light-text);
}