.verify-email-container {
    box-shadow: var(--shadow);
}

.verify-email-container h3 {
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
}

.verify-email-container span {
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
}