.forgot-password-container {
    box-shadow: var(--shadow);
}

.forgot-password-container h3 {
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
}

.forgot-password-container h5 {
    font-size: 18px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
}